<article>
    <h2>How to be a Creative</h2>
    <img src="../img/creative.jpg" alt="Image 1">
    <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis sed erat placerat pharetra. Morbi non faucibus dolor. Donec sodales mauris in fermentum blandit. Vestibulum gravida, sem ut vestibulum porttitor, tortor tellus egestas ligula, id facilisis ex nulla nec sapien. Sed tincidunt, sapien tempus commodo efficitur, neque dui commodo lectus, vitae imperdiet tortor sapien nec nisl. Vivamus at condimentum elit. Cras ipsum leo, egestas id feugiat eget, tincidunt ac erat. Fusce nec dolor in erat sodales iaculis et in mauris. Donec condimentum, felis in congue molestie, mi ante luctus nisi, vel ornare velit turpis at ante. Sed bibendum maximus mauris sed fermentum. Pellentesque lobortis felis vel ante ultricies commodo. Phasellus iaculis nulla id sodales vehicula. Aenean convallis vestibulum elit, vitae pellentesque diam tempus vel.</p>
    </div>
</article>
<article>
    <h2>Dance!</h2>
    <img src="../img/dance.jpg" alt="Image 2">
    <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis sed erat placerat pharetra. Morbi non faucibus dolor. Donec sodales mauris in fermentum blandit. Vestibulum gravida, sem ut vestibulum porttitor, tortor tellus egestas ligula, id facilisis ex nulla nec sapien. Sed tincidunt, sapien tempus commodo efficitur, neque dui commodo lectus, vitae imperdiet tortor sapien nec nisl. Vivamus at condimentum elit. Cras ipsum leo, egestas id feugiat eget, tincidunt ac erat. Fusce nec dolor in erat sodales iaculis et in mauris. Donec condimentum, felis in congue molestie, mi ante luctus nisi, vel ornare velit turpis at ante. Sed bibendum maximus mauris sed fermentum. Pellentesque lobortis felis vel ante ultricies commodo. Phasellus iaculis nulla id sodales vehicula. Aenean convallis vestibulum elit, vitae pellentesque diam tempus vel.</p>
    </div>
</article>
<article>
    <h2>Shhh...Let's Gossip</h2>
    <img src="../img/gossip.jpg" alt="Image 3">
    <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis sed erat placerat pharetra. Morbi non faucibus dolor. Donec sodales mauris in fermentum blandit. Vestibulum gravida, sem ut vestibulum porttitor, tortor tellus egestas ligula, id facilisis ex nulla nec sapien. Sed tincidunt, sapien tempus commodo efficitur, neque dui commodo lectus, vitae imperdiet tortor sapien nec nisl. Vivamus at condimentum elit. Cras ipsum leo, egestas id feugiat eget, tincidunt ac erat. Fusce nec dolor in erat sodales iaculis et in mauris. Donec condimentum, felis in congue molestie, mi ante luctus nisi, vel ornare velit turpis at ante. Sed bibendum maximus mauris sed fermentum. Pellentesque lobortis felis vel ante ultricies commodo. Phasellus iaculis nulla id sodales vehicula. Aenean convallis vestibulum elit, vitae pellentesque diam tempus vel.</p>
    </div>
</article>
<article>
    <h2>Take a tour</h2>
    <img src="../img/tour.jpg" alt="Image 4">
    <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis sed erat placerat pharetra. Morbi non faucibus dolor. Donec sodales mauris in fermentum blandit. Vestibulum gravida, sem ut vestibulum porttitor, tortor tellus egestas ligula, id facilisis ex nulla nec sapien. Sed tincidunt, sapien tempus commodo efficitur, neque dui commodo lectus, vitae imperdiet tortor sapien nec nisl. Vivamus at condimentum elit. Cras ipsum leo, egestas id feugiat eget, tincidunt ac erat. Fusce nec dolor in erat sodales iaculis et in mauris. Donec condimentum, felis in congue molestie, mi ante luctus nisi, vel ornare velit turpis at ante. Sed bibendum maximus mauris sed fermentum. Pellentesque lobortis felis vel ante ultricies commodo. Phasellus iaculis nulla id sodales vehicula. Aenean convallis vestibulum elit, vitae pellentesque diam tempus vel.</p>
    </div>
</article>
